
@inherits DeleteEmployeeDialogBase

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="oi oi-trash" /> Delete Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="() => CloseDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want delete this employee?</p>
                <div class="alert alert-danger" role="alert">
                    <i class="oi oi-person" /> @model.FirstName @model.LastName
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="() => Submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => CloseDialog()">No</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}

@code {

}
